{% extends "base.html" %} 
{% load static %} 

{% block title%} 
Login 
{% endblock%} 

{% block css%}
<link rel="stylesheet" href="{% static '/Styles/logstyles.css' %}" />
{% endblock %} 

{% block content %}
<!-- SECTION DE FORMULARIO PARA LOGIN  -->

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class="formulario">
  <h1>Inicio de Sesion</h1>
  <form method="post">
    {% csrf_token %}
    <div class="username">
        <input type="text" name="username_or_email" required>
        <label>Usuario o Correo</label>
    </div>
    <div class="username">
        <input type="password" name="password" required>
        <label>Contraseña</label>
    </div>
    <div class="recordar">¿Olvidó su contraseña?</div>
    <input type="submit" value="Iniciar">
    <div class="registrarse">
        Regístrese Aquí <a href="{% url 'register' %}">Registro</a>
    </div>
</form>
</div>

{% endblock %}

{% block js %}
<script src="{% static '/JS/logscript.js' %}"></script>
{% endblock %} 
